body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}